header { padding: 10px;
        color: #FFFFFF;
        text-align: center; }

img { margin-left: auto;
      margin-right: auto;
      width: 10%; }

nav { float: left;
    font-weight: bold;
    width: 100%; }

.menu{ background-color: #eee; }

.menu a { color: black;
          font-weight: bold; 
          display: inline; 
          text-decoration: none; }

.menu li:hover { background-color: #ccc; }

.menu li.active { background-color: #666666;
                      color: white; }

nav ul {list-style-type: none; 
        margin: 0;
        padding-left: 0;
        padding-left: 0; 
        overflow: hidden; }

nav li { float: left;
    text-align: center;
    width: 15%;
    padding: 20px;  }

h1 { color: #000000;
    margin-bottom: 0;
    margin-top: 0; }

html { background-image: url("office3.jpg"); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }

body {
    font-family: "Courier", "Times New Roman", "serif";
    padding: 30px 0px 30px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-width: 70%;
    max-width: 70%;
}


#adminLogin main { display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 20px; }

#adminLogin input { margin-bottom: 30px; 
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  font-size: 17px;
                  border: none;
                  width: 50%; 
                  padding: 10px;}

#adminLogin input[type=submit]{ width: 51.5%;  }

#adminLogin form { margin-left: auto;
                 margin-right: auto;
                text-align: center;
                font-size: 17px; }

#adminLogin a, #homePage a { color: #000000; 
                text-decoration: none;
                font-weight: bold;}

footer {color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    float: left;
    width: 100%;
}

#homePage .column { margin-left: auto;
                  margin-right: auto;
                  width: 100%;
                  display: inline-block;
                  margin-top: 100px;
                  margin-bottom: 100px;}

#homePage .left, #homePage .right { width: 40%;
        text-align: center;
        padding: 50px 10px 50px 10px;
        font-size: 20px;
        border-radius: 5px;}

#homePage .left { background-color: #cdebf9; 
                  margin-right: 4%;
                  float: left;}

#homePage .right { background-color: #FFFFFF;
                  margin-left: 4%;
                  float: right;}

#userPage .column { padding: 15px 0px 15px 0px; }

#userPage .left { background-color: #cdebf9; 
                  /*opacity: 0.5;
                  filter: alpha(opacity=50);*/
                  width: 30%;
                  float: left;}

#userPage .right {
    background-color: #FFFFFF;
    /*opacity: 0.5;
      filter: alpha(opacity=50);*/
    width: 70%;
    float: left;
    
}

#userPage .right li { padding-left: 10%;}

#userPage ol { text-align: left;
              margin-left: 30%; }

#employeePost { display: none;
                width: 90%;
                margin-right: auto;
                margin-left: auto; }
 
.overlay { height: 100%;
          width: 100%;
          display: none;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0, 0.9);}

.overlay-content { position: relative;
                  margin-top: 10%;
                  width: 80%;
                  text-align: center;
                  margin-right: auto;
                  margin-left: auto;
                  color: white;
                  font-size: 20px; }

.overlay .closebtn { position: absolute;
                    top: 20px;
                    right: 45px;
                    font-size: 60px;
                    cursor: pointer;
                    color: white; }

.overlay .closebtn:hover { color: #ccc;}

li { list-style-type: none;}

#adminPage main{ background-color: #FFFFFF;}

#uncheckedPosts { padding: 10%;}

#buttons { padding-left: 10%;
           padding-bottom: 10%;}